@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #ff8711;
}

a:hover{
    opacity: 0.7;
}

.header{
    background: rgb(0, 0, 0);
    padding-inline: 16px;
}

.nav{
    max-width: 1280px;
    height: 80px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 133px;
}

.nav-list{
    display: flex;
    gap: 36px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    padding-block: 16px;
}

.hero{
    min-height: calc(100vh - 80px);
    background-color: black;
    background-size: cover;
}

.container img{
    width: 500px;
    border-radius: 10px;
}

.container {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    padding-left: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.ceo-name {
    font-family: "Chewy", system-ui;
    font-size: 18px;
    padding-top: 10px;
}

.titulo-time{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    color: #ff8711;
    font-family: "Chewy", system-ui;
    font-size: 48px;

}

.ul-time{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding-bottom: 60px;
}

.ul-time p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-time img{
    width: 350px;
    border-radius: 10px;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ff8711;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #ff8711;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px){
    .hamburguer{
        display: block;
        z-index: 1;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000000;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a{
        transition: 0.5s 0.8s;
    }

    .container img{
        width: 200px;
    }

    .container{
        flex-direction: column;
        font-size: 12px;
        padding: 30px;
    }

    .image-container{
        padding: 20px;
    }

    .titulo-time{
        font-size: 32px;
    }

    .ul-time img{
        width: 150px;
    }

    .ul-time p{
        font-size: 18px;
    }

    .ul-time{
        padding-bottom: 50px;
    }

    /*Estilos ativos*/

    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.nav.active .nav-list a{
        opacity: 1;
    }

    .nav.nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
